# Maven
target/

# Eclipse
.settings/
.project
.classpath
bin/

# TestNG
test-output/

# Playwright
playwright-report/
test-results/
trace.zip

# Allure
allure-results/
allure-report/

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db